<div class="px-10 mt-32 mb-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="card">
      <div class="card-title">
        <div class="title text-start px-14">
          Exploring the Dynamics of AI Innovation: Insights from the GEIW Conference
        </div>
      </div>
      <div class="px-5 md:px-10 mb-10">
        <div class="card card-light">
          <div class="card-text px-5 md:px-10 py-10">
            <p>
              During the GEIW days, I had the opportunity to participate in the conference titled “Artificial
              Intelligence: Lever
              of Innovation and Entrepreneurial Dynamics.” This event explored the applications of artificial
              intelligence (IA)
              across various domains, highlighting its impact on entrepreneurial dynamics in the AI era. Key discussions
              included
              the integration of AI in management and its transformative potential. The conference featured expert
              presentations
              on topics ranging from generative AI to the intersection of AI and IoT. This essay summarizes the key
              insights and
              takeaways from this enlightening event.
            </p>

            <p>
              The event began with Mr. Mohammed Youssfi, who presented on generative AI and prompt engineering. He
              highlighted the
              principles of responsible AI and discussed how to leverage generative AI through few-shot learning,
              fine-tuning, and
              Retrieval-Augmented Generation (RAG). Mr. Youssfi's presentation concluded with a demonstrative
              application of RAG,
              showcasing its practical benefits.
            </p>

            <p>
              Following this, a representative from EMSI discussed the integration of AI with IoT and the transition
              from Industry
              4.0 to Industry 5.0. He presented several projects his team had developed, including an offline AI
              application
              designed to enhance data security within a company, particularly using AI bots.
            </p>

            <p>
              The next speaker, an HR manager, shared insights from his experience in HR management. He focused on how
              AI is
              transforming the recruitment process, notably through AI bots that can conduct interviews. However, he
              emphasized
              the significant difference between AI and humans—emotions—which AI does not consider in interviews.
            </p>

            <p>
              In conclusion, the conference was an enriching experience that offered a comprehensive overview of the
              potential and
              challenges of AI. It highlighted the transformative power of AI across various sectors and underscored the
              importance of responsible AI practices. The insights gained from the presentations emphasized the need for
              continued
              innovation and ethical considerations in the development and application of AI technologies. Participating
              in this
              conference not only broadened my understanding of AI but also inspired me to explore further how AI can
              drive
              innovation and improve efficiency in various fields.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <div class="title text-start px-14">
          Professional Communication: Insights from S4 English Session
        </div>
      </div>
      <div class="px-5 md:px-10 mb-10">
        <div class="card card-light">
          <div class="card-text px-5 md:px-10 py-10">
            <p>
              Professional communication is a critical skill set that encompasses various forms, including written,
              verbal, and digital communication. In my English class, I learned about the importance of professional
              communication and its different aspects, such as digital networking, written documents like resumes and
              cover letters, and verbal communication in interviews.
            </p>

            <p>
              Digital communication and professional networking are essential in the job search process. We discussed
              the hidden job market, where job seekers utilize their connections to find job opportunities, often
              leading to more direct and successful interviews. Additionally, we learned about the advertised job
              market, where companies post job openings on platforms like LinkedIn and Indeed. Cold calling was also
              highlighted as a proactive approach to inquire about potential job openings directly with companies.
            </p>

            <p>
              In the context of written communication, we focused on creating professional documents like resumes and
              cover letters. We analyzed a sample resume, discussing its components and how to tailor it to specific job
              applications. Similarly, we learned about the importance of customizing cover letters to highlight
              relevant skills and experiences for each job application.
            </p>

            <p>
              Verbal communication skills are crucial during job interviews. We learned about common interview questions
              and strategies for answering them effectively. Emphasis was placed on researching the company before the
              interview to tailor responses and demonstrate genuine interest in the position.
            </p>

            <p>
              Overall, the S4 sessions of the English class provided valuable insights into the importance of
              professional communication in various forms. From digital networking to crafting tailored resumes and
              cover letters, and mastering interview skills, the course equipped me with practical knowledge and skills
              essential for navigating the professional world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
