<div class="container">
    <div class="card">
        <div class="card-title">
            <div class="title">
                Contact Me
            </div>
        </div>
        <div class="card-body">
            <div class="form">
                <!-- Layout using tailwind (2 inpts in the first row for name and email then one in the scond row for subject and finaly the textarea) -->
                <div class="grid grid-cols-2 gap-4">
                    <div class="input-container">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control">
                    </div>
                    <div class="input-container">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control">
                    </div>
                    <div class="input-container col-span-2">
                        <label for="subject">Subject</label>
                        <input id="subject" type="subject" class="form-control">
                    </div>
                    <div class="input-container col-span-2">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control"></textarea>
                    </div>
                    <div class="flex justify-center col-span-2">
                        <button class="btn btn-accent">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>