.card {
    position: relative;
    bottom: -50px;
    padding-bottom: 50px;
}

.card-body {
    padding: 2rem 8rem;
}

@media screen and (max-width: 1024px) {
    .card-body {
        padding: 2rem 3rem;
    }

}

@media screen and (max-width: 768px) {
    .card-body {
        padding: 2rem 2rem;
    }

}

/* .container {
    overflow: hidden;
    padding: 0 6rem;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

} */

.btn {
    padding: 0.5rem 4rem;
    box-shadow: 0 2px 4px var(--pf-shadow);
}



.spinner {
    color: var(--pf-primary);
}
