
.about-image {
  width: 100%;
  height: 40rem;
  border-radius: var(--pf-border-radius-lg);
  overflow: hidden;
}

.about-image img {
  object-fit: cover;
}

.content {
  border-radius: var(--pf-border-radius-lg);
  background: var(--bg-color);
}
