<app-flat-section title="About Me" id="about">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="about-image">
      <img src="assets/images/about.jpeg" alt="about" class="w-full h-full object-cover">
    </div>
    <div class="content p-5">
      <div class="about-content p-7">
        <p class="text-lg">Hello, I'm <span class="font-bold">Ahmed Mrabet</span>. I am a student in "Software
          Engineering and Distributed Computer Systems" at the École Normale Supérieure de l'Enseignement Technique in
          Mohammedia. I obtained my Diploma in University Technology (DUT) in Computer Engineering, with honors, from
          the École Supérieure de Technologie in Kenitra.</p>
        <p class="text-lg mt-4">Passionate about software engineering, I aspire to acquire in-depth knowledge in
          software development and distributed computer systems. My academic journey has equipped me with strong skills
          in programming languages such as C, C++, and Java, as well as in using frameworks like Spring Boot and
          Angular. I have also developed a good understanding of key software engineering concepts, including
          distributed systems architecture and database management.</p>
        <p class="text-lg mt-4">Outside of my studies, I am constantly seeking new knowledge and am passionate about
          technological innovation. My goal is to make a meaningful contribution to the field of software engineering
          and to provide innovative solutions to current and future computing challenges.</p>
      </div>
    </div>
  </div>
</app-flat-section>
