<nav class="navbar-container">
  <div class="navbar overflow-hidden">
    <div class="logo">
      <img width="100" [src]="logo" alt="logo" height="50">
    </div>
    <div class="menu flex items-center justify-center">
      <ul class="menu-items md:flex hidden">
        <ng-container *ngFor="let item of menuItems">
          <li class="menu-item"
              [ngClass]="{'active':item.active}"
              (click)="selectMenuItem(item)">
            <a class="link" (click)="scrollToElement(item.link)">{{item.value}}</a>
            <div class="indicator"></div>
          </li>
        </ng-container>
      </ul>
      <div class="theme-switch-container">
        <button [style.top]="getThemeIconPosition('sun')" (click)="switchTheme()" class="theme-switch">
          <img src="assets/images/sun.svg" alt="sun">
        </button>
        <button [style.top]="getThemeIconPosition('moon')" (click)="switchTheme()" class="theme-switch">
          <img src="assets/images/moon.svg" alt="moon">
        </button>
      </div>
      <button (click)="toggleMenu()" class="menu-toggle md:hidden" #menuBtn>
        <img src="assets/images/menu-dots.svg" width="20px" alt="menu">
      </button>
      <div class="menu-overlay" [ngClass]="{'active':menuOpen}" #menu>
        <ul class="menu-items">
          <ng-container *ngFor="let item of menuItems">
            <li class="menu-item"
                [ngClass]="{'active':item.active}"
                (click)="selectMenuItem(item)" (click)="scrollToElement(item.link); toggleMenu();">
              <a class="link">{{item.value}}</a>
            </li>
          </ng-container>
        </ul>
        </div>
    </div>
  </div>
</nav>
