<div class="input-container" [ngClass]="{'input-invalid': isInputInvalid(input)}">
  <label [for]="id">
    {{label}}
    {{hasRequiredValidator()?'*':''}}
  </label>
  <div class="relative w-full">
    <input [type]="type" [id]="id" [placeholder]="placeholder" (blur)="onTouched()" [(ngModel)]="value" #input="ngModel"
      [disabled]="disabled" [required]="required" />
    <div class="icon">
      <ng-content select="[icon]"></ng-content>
    </div>
  </div>
  <span class="error" *ngIf="isInputInvalid(input)">
    {{this.errorService.getErrorMessage(validationErrors)}}
  </span>
</div>