<div class="grid grid-cols-2 gap-0 overflow-hidden h-screen">
  <div class="profile-mask">
    <img class="profile z-20" [src]="profilePic" alt="profile" height="738" width="844">
    <!-- <img class="glow blur-xl animate-spin-slow z-10" ngSrc="{{'assets/images/profile_mask_bg.png'}}" alt="glow" height="738" width="844"> -->
  </div>
  <div class="text-container flex justify-center">
    <div class="content mt-40">
      <div class="name">
        <span class="bold">Hi,</span> It's me <br>
        <span class="bold">Ahmed</span> Mrabet
      </div>
      <div class="position">/* Software Engineer Student */</div>
      <a (click)="scrollToElement('contact')" class="btn btn-accent mt-10">
        Contact Me
      </a>
    </div>
  </div>
</div>
