<div class="grid md:grid-cols-2 grid-rows-2 gap-0 overflow-hidden h-screen">
  <div class="profile relative">
    <div class="profile-mask {{theme}}">
      <img class="profile z-20" [src]="profilePic" alt="profile" height="738" width="844">
    </div>
    <!-- <img class="glow blur-xl animate-spin-slow z-10" ngSrc="{{'assets/images/profile_mask_bg.png'}}" alt="glow" height="738" width="844"> -->
  </div>
  <div class="text-container flex justify-center">
    <div class="content md:mt-40 mt-20">
      <div class="name">
        <span class="bold">Hi,</span> It's me <br>
        <span class="bold">Ahmed</span> Mrabet
      </div>
      <div class="position">/* Software Engineer Student */</div>
      <div class="flex items-center">
        <a (click)="scrollToElement('contact')" class="btn btn-accent mt-10 mr-2">
          Contact Me
        </a>
<!--        <a (click)="previewResume()" class="btn btn-accent mt-10">-->
<!--          Resume-->
<!--        </a>-->
      </div>
    </div>
  </div>
</div>
