<div class="social-media-icons {{direction}}">
    <!-- LInkedin -->
    <a [class]="direction == 'row' ? 'mr-2' : 'mb-2'" href="https://www.linkedin.com/in/ahmed-mrabet-90311a1ba/" class="linkedin" target="_blank">
        <img src="assets/images/linkedin.svg" alt="linkedin">
    </a>
    <!-- Github -->
    <a [class]="direction == 'row' ? 'mr-2' : 'mb-2'" href="https://github.com/mrabet2002" class="github" target="_blank">
        <img src="assets/images/github.svg" alt="linkedin">
    </a>
    <!-- Instagram -->
    <a href="https://www.instagram.com/ahmed_mr18/" class="instagram" target="_blank">
        <img src="assets/images/instagram.svg" alt="instagram">
    </a>
</div>