<app-flat-section title="Experience" id="experience">
  <!--  Show companies (logo and name) that i ve worked with-->
  <div class="flex flex-col md:flex-row items-center md:items-start justify-center">
    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
      <div (click)="navigate('https://1er-systeme.ma/')" class="logo">
        <img src="assets/images/1er-system-logo.png" alt="Le 1er System">
      </div>
      <div class="text-center text-2xl font-bold">Le Premier Système</div>
    </div>
    <div class="w-1/2 md:w-1/3 lg:w-1/4 p-4">
      <a href="">
        <div (click)="navigate('https://www.gebs-online.com/')" class="logo">
          <img src="assets/images/gebs-logo.png" alt="GEBS">
        </div>
      </a>
      <div class="text-center text-2xl font-bold">GEBS</div>
    </div>
  </div>
</app-flat-section>
