.filled {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
}

.outlined {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.ghost {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
}
